<div id="<%= dom_id task %>" class="task-item">
  <%= link_to task_path(task) do %>
    <p>
      <strong>Title:</strong>
      <%= task.title %>
    </p>

    <p>
      <strong>Completed:</strong>
      <%= task.completed %>
    </p>
  <% end %>
</div>
